<div style="width: 50%; margin-left: 25%; margin-right: 50%;">
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        <strong>@Name</strong>
    </p>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        Esta é uma solicitação para alteração da sua senha de acesso ao PontoFreela.
    </p>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        Clique no botão abaixo, informe seu e-mail de cadastro, uma nova senha e pronto!
    </p>
    <p style="text-align: center">
        <a href="@Url" target='_blank' style='margin: 20px; -webkit-text-size-adjust: none; background: #1a237e; border-color: #1a237e; border-radius: 3px; border-style: solid; border-width: 10px 18px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); box-sizing: border-box; color: #FFF; display: inline-block; font-family: Arial, sans-serif; text-decoration: none;'>
            Redefinir Senha
        </a>    
    </p>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        Esta solicitação de alteração de senha é válida apenas nas próximas 24 horas.</p>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        Se você não solicitou uma alteração de senha, ignore este e-mail.
    </p>
	<br><hr>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial;">
        Se você estiver tendo problemas com o botão acima, copie e cole a URL abaixo em seu navegador.
    </p>
    <p style="box-sizing: border-box; color: #74787E; font-family: Arial; padding-bottom: 10px; text-decoration:none">
        @Url
    </p>
</div>  